@page "{restaurantId:int}"

@model CoreFundamentals.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<h2>@Model.Restaurant.Name</h2>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<section>
    Id: @Model.Restaurant.Id
</section>
<section>
    Location: @Model.Restaurant.Location
</section>
<section>
    Cuisine: @Model.Restaurant.Cuisine
</section>

<a asp-page="./List" class="btn btn-default">All Restaurants</a>