@page
@model CoreFundamentals.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <section class="form-group">
        <section class="input-group">
            <input type="search" class="form-group" 
                   asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="input-group-btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                    Seach
                </button>
            </span>
        </section>
    </section>
</form>

<table class="table">
    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Detail"
                   asp-route-restaurantId="@restaurant.Id">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                    Details
                </a>
                <a class="btn btn-lg"
                   asp-page="./Edit"
                   asp-route-restaurantId="@restaurant.Id">
                    <i class="glyphicon glyphicon-edit"></i>
                    Edit
                </a>
            </td>
        </tr>    
    }
</table>

<a class="btn btn-primary"
   asp-page="./Edit" >
    Create a Restaurant
</a>

<p>@Model.Message</p>